node_modules
.next
.git
.gitignore
*.md
.env
.env.local
.env*.local
.vercel
.vscode
.idea
*.log
.DS_Store
.trae
coverage
out
build
prisma/*.db
prisma/*.db-journal
!prisma/schema.prisma
!prisma/seed.ts
!prisma/migrations
